﻿
@phone-break: 376px;
@tablet-break: 768px;

@desktop-input-width: 247px;
@mobile-input-width: 320px;

@green: #91CE73;
@red: #de4040;
@blue-bg: #ccd6e0;
@light-blue: #428bca;

@column-width: 375px;
@table-border: solid 1px #777;
@wrapper-padding: 6px;

@highlight-color: 0 0 5px rgb(46, 46, 46);

.input-highlight {
    box-shadow: 0 0 5px rgb(46, 46, 46);
    -webkit-box-shadow: 0 0 5px rgb(46, 46, 46); 
    -moz-box-shadow: 0 0 5px rgb(46, 46, 46);
}

.input-attr {
    border: solid 1px #888;
    padding: 4px;
    border-radius: 3px;
}

body {
    background-color: @blue-bg;

    section#main-content {
        max-width: @column-width;
        margin-top: 10px;
        padding: 0 10px;

        &.wide {
            max-width: 700px;
        }

        @media (max-width: @phone-break) {
            max-width: auto;
            width: 100%;
        }
    }

    .faux-link {
        text-decoration: none;
        color: @light-blue;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.error-page {
    width: 75%;
    margin: 0 auto;

    h2 {
        font-size: 2em;
        color: @red;
        margin-bottom: 0;
        padding-bottom: 10px;
        border-bottom: solid 1px #888;
    }

    .error-wrapper {
        margin-top: 25px;
        overflow: auto;
        
        label {
            font-weight: bold;
            display: block;
            float: left;
            width: 10%;
        }

        span {
            display: inline-block;
            float: left;
            width: 90%;
            font-family: 'Courier New', Courier, monospace;

            @media (max-width: 650px) {
                float: none;
                width: 100%;
            }
        }
    }
}

select {
    &.ui-timepicker-select {
        min-width: 75px;
    }
}

.form-group {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    
    label {
        min-width: 80px;

        &.error {
            margin: 4px 0px 0px 110px;
            font-size: 0.85em;
            color: @red;
        }

        @media (max-width: @phone-break) {
            display: none;
        }
    }

    select {
        .input-attr();
        padding-left: 0px;

        option {
            color: #000;
        }

        &.placeholder {
            color: #919191;
        }
        
        &:focus {
            .input-highlight();
        }

        @media (max-width: @phone-break) {
            width: 90%;
        }
    }

    input {
        &[type=text],
        &[type=number] {
            width: @desktop-input-width;
            .input-attr();

            &:focus {
                .input-highlight();
            }

            &#calories { width: 75px; }

            @media (max-width: @phone-break) {
                width: 90%;
            }
        }
    }

    .add-new-food {
        position: absolute;
        right: 1px;
        top: 4px;
        cursor: pointer;

        @media (max-width: @phone-break) {
            width: 10%;
        }
    }
}

.form-wrapper {
    position: relative;
    padding-bottom: 45px;

    button.btn-save {
        border-radius: 2px;
        border: solid 1px #999;
        padding: 3px 7px;
        cursor: pointer;
        background-color: #e7e7e7;

        &:hover {
            border: solid 1px #555;
            background-color: #f3f3f3;
        }

        &.right {
            position: absolute;
            right: 23px;
        }
    }

}


.table-wrapper {
    background-color: #e4e4e4;
    border: @table-border;
    padding: @wrapper-padding;
    border-radius: 5px;
    margin-bottom: 20px;

    width: 100%;
    display: inline-block;
}

table {
    border-bottom: @table-border;
    width: 100%;

    tr {
        &.can-edit {
            background-color: #999;
            opacity: 0.5;
        }
    }

    th {
        padding-left: 3px;
        padding-bottom: 2px;
    }

    td {
        padding: 5px;
        font-size: 0.8em;
        border: @table-border;
	    border-right: none;
	    border-bottom: none;

        &:last-child {
            border-right: @table-border;
        }
    }

    .delete-food {
        img {
            width: 20px;
            height: 20px;
        }
    }
}

.goal-slider-wrapper {
    width: 100%;
    
    .daily-goal-slider {
        .ui-slider-range {
            background: @green;
        }

        &.bad-day {
            .ui-slider-range {
                background: @red;
            }
        }

        .ui-slider-handle {
            display: none;
        }

        &.ui-state-disabled {
            opacity: 1;
            background-image: url("../script/libs/jqueryui/images/ui-bg_inset-soft_50_c9c9c9_1x100.png");
        }
    }

    .calories-remaining {
        float: right;
        font-size: 0.95rem;
        margin-top: 12px;
    }

    .ranges {
        font-size: 0.95rem;

        .min { float: left; }
        .max { float: right; }
    }
}

button.no-style {
    border: none;
    background-color: transparent;
    display: inline-block;
    padding: 0;

    &:active {
        padding: 0;
    }
}

/*
.update-goal {
   margin-left:12px;
}
*/

.daily-totals-wrapper {
    .show-this-week {
        margin-top: 25px;
        display: block;
    }

    .daily-totals {
        tbody {
            td {
                &:not(.day-label) {
                    font-weight: bold;
                    color: #000;
                }

                &.bad-day {
                    background-color: @red;
                }

                &.good-day {
                    background-color: @green;
                }
            }
        }
    }
}

.ui-autocomplete {
    .ui-menu-item {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1em;
    }

    .ui-state-focus {
        font-weight: normal;
        border: none;
        border-left: solid 1px #aaa;
        border-right: solid 1px #aaa;
        padding-top: 4px;
        padding-bottom: 4px;
        color: #1eae85
    }
}