﻿.input-highlight {
  box-shadow: 0 0 5px #2e2e2e;
  -webkit-box-shadow: 0 0 5px #2e2e2e;
  -moz-box-shadow: 0 0 5px #2e2e2e;
}
.input-attr {
  border: solid 1px #888;
  padding: 4px;
  border-radius: 3px;
}
body {
  background-color: #ccd6e0;
}
body section#main-content {
  max-width: 375px;
  margin-top: 10px;
  padding: 0 10px;
}
body section#main-content.wide {
  max-width: 700px;
}
@media (max-width: 376px) {
  body section#main-content {
    max-width: auto;
    width: 100%;
  }
}
body .faux-link {
  text-decoration: none;
  color: #428bca;
  cursor: pointer;
}
body .faux-link:hover {
  text-decoration: underline;
}
.error-page {
  width: 75%;
  margin: 0 auto;
}
.error-page h2 {
  font-size: 2em;
  color: #de4040;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: solid 1px #888;
}
.error-page .error-wrapper {
  margin-top: 25px;
  overflow: auto;
}
.error-page .error-wrapper label {
  font-weight: bold;
  display: block;
  float: left;
  width: 10%;
}
.error-page .error-wrapper span {
  display: inline-block;
  float: left;
  width: 90%;
  font-family: 'Courier New', Courier, monospace;
}
@media (max-width: 650px) {
  .error-page .error-wrapper span {
    float: none;
    width: 100%;
  }
}
select.ui-timepicker-select {
  min-width: 75px;
}
.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}
.form-group label {
  min-width: 80px;
}
.form-group label.error {
  margin: 4px 0px 0px 110px;
  font-size: 0.85em;
  color: #de4040;
}
@media (max-width: 376px) {
  .form-group label {
    display: none;
  }
}
.form-group select {
  border: solid 1px #888;
  padding: 4px;
  border-radius: 3px;
  padding-left: 0px;
}
.form-group select option {
  color: #000;
}
.form-group select.placeholder {
  color: #919191;
}
.form-group select:focus {
  box-shadow: 0 0 5px #2e2e2e;
  -webkit-box-shadow: 0 0 5px #2e2e2e;
  -moz-box-shadow: 0 0 5px #2e2e2e;
}
@media (max-width: 376px) {
  .form-group select {
    width: 90%;
  }
}
.form-group input[type=text],
.form-group input[type=number] {
  width: 247px;
  border: solid 1px #888;
  padding: 4px;
  border-radius: 3px;
}
.form-group input[type=text]:focus,
.form-group input[type=number]:focus {
  box-shadow: 0 0 5px #2e2e2e;
  -webkit-box-shadow: 0 0 5px #2e2e2e;
  -moz-box-shadow: 0 0 5px #2e2e2e;
}
.form-group input[type=text]#calories,
.form-group input[type=number]#calories {
  width: 75px;
}
@media (max-width: 376px) {
  .form-group input[type=text],
  .form-group input[type=number] {
    width: 90%;
  }
}
.form-group .add-new-food {
  position: absolute;
  right: 1px;
  top: 4px;
  cursor: pointer;
}
@media (max-width: 376px) {
  .form-group .add-new-food {
    width: 10%;
  }
}
.form-wrapper {
  position: relative;
  padding-bottom: 45px;
}
.form-wrapper button.btn-save {
  border-radius: 2px;
  border: solid 1px #999;
  padding: 3px 7px;
  cursor: pointer;
  background-color: #e7e7e7;
}
.form-wrapper button.btn-save:hover {
  border: solid 1px #555;
  background-color: #f3f3f3;
}
.form-wrapper button.btn-save.right {
  position: absolute;
  right: 23px;
}
.table-wrapper {
  background-color: #e4e4e4;
  border: solid 1px #777777;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  display: inline-block;
}
table {
  border-bottom: solid 1px #777777;
  width: 100%;
}
table tr.can-edit {
  background-color: #999;
  opacity: 0.5;
}
table th {
  padding-left: 3px;
  padding-bottom: 2px;
}
table td {
  padding: 5px;
  font-size: 0.8em;
  border: solid 1px #777777;
  border-right: none;
  border-bottom: none;
}
table td:last-child {
  border-right: solid 1px #777777;
}
table .delete-food img {
  width: 20px;
  height: 20px;
}
.goal-slider-wrapper {
  width: 100%;
}
.goal-slider-wrapper .daily-goal-slider .ui-slider-range {
  background: #91ce73;
}
.goal-slider-wrapper .daily-goal-slider.bad-day .ui-slider-range {
  background: #de4040;
}
.goal-slider-wrapper .daily-goal-slider .ui-slider-handle {
  display: none;
}
.goal-slider-wrapper .daily-goal-slider.ui-state-disabled {
  opacity: 1;
  background-image: url("../script/libs/jqueryui/images/ui-bg_inset-soft_50_c9c9c9_1x100.png");
}
.goal-slider-wrapper .calories-remaining {
  float: right;
  font-size: 0.95rem;
  margin-top: 12px;
}
.goal-slider-wrapper .ranges {
  font-size: 0.95rem;
}
.goal-slider-wrapper .ranges .min {
  float: left;
}
.goal-slider-wrapper .ranges .max {
  float: right;
}
button.no-style {
  border: none;
  background-color: transparent;
  display: inline-block;
  padding: 0;
}
button.no-style:active {
  padding: 0;
}
/*
.update-goal {
   margin-left:12px;
}
*/
.daily-totals-wrapper .show-this-week {
  margin-top: 25px;
  display: block;
}
.daily-totals-wrapper .daily-totals tbody td:not(.day-label) {
  font-weight: bold;
  color: #000;
}
.daily-totals-wrapper .daily-totals tbody td.bad-day {
  background-color: #de4040;
}
.daily-totals-wrapper .daily-totals tbody td.good-day {
  background-color: #91ce73;
}
.ui-autocomplete .ui-menu-item {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}
.ui-autocomplete .ui-state-focus {
  font-weight: normal;
  border: none;
  border-left: solid 1px #aaa;
  border-right: solid 1px #aaa;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #1eae85;
}
/*# sourceMappingURL=site.css.map */